<h1>Edite seu perfil</h1>
<%= form_with(model: @profile) do |f| %>
  <p><%= f.label :name, 'Nome:' %></p>
  <p><%= f.text_field :name %></p>
  <p><%= f.label :social_name, 'Nome Social:' %></p>
  <p><%= f.text_field :social_name %></p>
  <p><%= f.label :background, 'Formação:' %></p>
  <p><%= f.text_field :background %></p>
  <p><%= f.label :description, 'Descrição:' %></p>
  <p><%= f.text_field :description %></p>
  <p><%= f.label :area, 'Área:' %></p>
  <p><%= f.text_field :area %></p>
  <p><%= f.submit 'Enviar:' %></p>
<% end %>
<input type="button" value="Voltar" onClick="history.go(-1)"> 
