<h1>Perfil: </h1>
<p>Nome: <%= @profile.social_name %></p>
<p>Formação: <%= @profile.background %></p>
<p>Área: <%= @profile.area %></p>
<p>Descrição: <%= @profile.description %></p>

<h1>Projetos que participou ou fez oferta:</h1>
<% @plans.each do |plan|%>
    <%= plan.title%>
<% end %>
<input type="button" value="Voltar" onClick="history.go(-1)"> 


