<h1>P&P</h1>
<h2>Bem vindo ao sistema que aproxima pessoas de projetos</h3>
<% if user_signed_in? %>
  <h3><%= link_to "Ver seus projetos", plans_path%></h3>
  <h3><%= link_to "Cadastrar projeto", new_plan_path%></h3>
<% else %>
  <h2>Registrar-me:</h2>
    <h3><%=link_to 'Sign in: como dono de um projeto!', new_user_session_path %></h3>
    <h3><%=link_to 'Sign in: como profissional!',  new_professional_session_path %></h3>
  <h2>Registrar-me:</h2>
    <h3><%= link_to 'Procuro pessoas para meu projeto!', new_user_registration_path %> </h3>
    <h3><%= link_to 'Procuro projetos para mim!', new_professional_registration_path %> </h3>
<% end %>

<!- #TODO AJEITAR AS TELAS: OU CLICA EM SIGN IN E DAÃ ESCOLHE OU VER A DOC DO DEVISE:  https://github.com/heartcombo/devise/wiki/How-to-Setup-Multiple-Devise-User-Models ->
  