<% @offers.each do |offer| %>
  <p><%= offer.professional.profile.social_name %></p>
  <p><%= link_to "Ver perfil", profile_path(offer.professional.profile) %></p>
  <p><%= offer.description %></p>
  <p>Horas: <%= offer.hours %></p>
  <p>Data final: <%= offer.finish_date.strftime("%d/%m/%Y") %></p>
  <p>Valor por hora: <%= number_to_currency(offer.value) %></p>
  <p><%= button_to "Aceitar oferta", plan_offer_accept_path(id: offer.id)%> </p>
  <p><%= button_to "Recusar oferta", plan_offer_refuse_path(id: offer.id)%> </p>
<% end %>