
<%= form_with(model: @offer, method: :post, url: [@plan, @offer]) do |f| %>
  <h4><%= f.label :description, 'Descrição:' %></h4>
  <p><%= f.text_field :description %></p>
  <h4><%= f.label :value, 'Valor por hora:' %></h4>
  <p><%= f.text_field :value %></p>
  <h4><%= f.label :hours, 'Horas:' %></h4>
  <p><%= f.text_field :hours %></p>
  <h4><%= f.label :finish_date, 'Data final:' %></h4>
  <p><%= f.date_field :finish_date %>  </p>
  <p><%= f.submit 'Ofertar' %></p>
<% end %>
<input type="button" value="Voltar" onClick="history.go(-1)"> 
