<%= form_with(model: @plan) do |f| %>
  <h4><%= f.label :title, 'Título:' %></h4>
  <p><%= f.text_field :title %></p>
  <h4><%= f.label :description, 'Descrição:' %></h4>
  <p><%= f.text_field :description %></p>
  <h4><%= f.label :hability, 'Habilidades desejadas:' %></h4>
  <p><%= f.text_field :hability %></p>
  <h4><%= f.label :value, 'Valor máximo:' %></h4>
  <p><%= f.text_field :value %></p>
  <h4><%= f.label :limit_date, 'Data limite:' %></h4>
  <p><%= f.date_field :limit_date %></p>
  <h4><%= f.label :presence_type, "Atuação:" %></h4>
  <p><%= f.select :presence_type, ["Remota", "Presencial"] %>  </p>
  <p><%= f.submit 'Cadastrar' %></p>
<% end %>
<input type="button" value="Voltar" onClick="history.go(-1)"> 
