<h3>Título: <%= @plan.title  %></h3>
<p>Descrição: <%= @plan.description =%> </p>
<p>Habilidades desejadas: <%= @plan.hability  %></p>
<p>Data limite: <%= @plan.limit_date.strftime("%d/%m/%Y")  %></p>
<p>Atuação: <%= @plan.presence_type  %></p>
<p>Valor máximo: <%= number_to_currency(@plan.value) %></p>
<p>Status: <%= @plan.status %></p>

<h3>Minhas ofertas:
<% @myoffers.each do |offer|%>
<h4>Oferta:<%= offer.id %></h4>
<p><%= offer.description %></p>
<p>Horas: <%= offer.hours %> </p>
<p>Data final: <%= offer.finish_date.strftime("%d/%m/%Y") %></p>
<p>Valor: <%= number_to_currency(offer.value) %></p>
<p>Status: <%= offer.status %></p>
<% end %>

<input type="button" value="Voltar" onClick="history.go(-1)"> 